body{
    margin:0;
    padding:0;
    width: 100%;    
 }

 
 .divPrincipal{
    background-image: url('public/img/fondo.png');
    background-size: cover; 
    background-repeat: repeat;
 }

 .logo{
    border-radius: 15px;
    width: 100px;
    height: 50px;
 }

 .card{
    background-image: url('public/img/fondo.png');
    background-size: cover; 
    background-repeat: repeat;    
    border-width: 20px;
    border: solid  #186a4e;
 }

/* Estilos del Navbar de Categorias */
 .css-11pfdl1-MuiButtonBase-root-MuiTab-root.Mui-selected {
   color: #2ea67b !important;   
}

.tab-container{
   overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
   width: 100%; /* Asigna un ancho al contenedor */
}


.tab{
   display: flex; /* Asegura que los tabs se muestren en línea */
   width: max-content; /* Establece el ancho del contenedor de tabs al máximo posible */  
}

.css-11pfdl1-MuiButtonBase-root-MuiTab-root{
   text-transform: none !important;
   letter-spacing: 0 !important;
   max-width: 280px !important;
}

.MuiSvgIcon-fontSizeMedium{
   color: #2ea67b !important;
}

.MuiSvgIcon-fontSizeMedium:hover{
   color: lime !important;
}

.tabPanel{
   /* background-color: #2ea67b; */
   background-image: url('public/img/fondo.png');
   color: white;
   /* border-top:solid;
   border-bottom:solid; */
   /* border-color: white; */
   opacity: 0.8;
}



.MuiTabs-indicator {
   background-color: #2ea67b !important;
}