body{
    margin:0;
    padding:0;
    width: 100%;    
 }

 
 .divPrincipal{
    background-image: url('public/img/fondo.png');
    background-size: cover; 
    background-repeat: repeat;
 }

 .logo{
    border-radius: 15px;
    width: 100px;
    height: 50px;
 }

 .card{
    background-image: url('public/img/fondo.png');
    background-size: cover; 
    background-repeat: repeat;    
    border-width: 20px;
    border: solid  #186a4e;
 }


 .css-11pfdl1-MuiButtonBase-root-MuiTab-root.Mui-selected {
   color: #2ea67b !important;
   
   
   
}


.css-11pfdl1-MuiButtonBase-root-MuiTab-root{
   text-transform: none !important;
   letter-spacing: 0 !important;
   max-width: 280px !important;
}

.MuiSvgIcon-fontSizeMedium{
   color: #2ea67b !important;
}



.MuiTabs-indicator {
   background-color: #2ea67b !important;
}